<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 配置输出目标 -->
	<targets>
		<target name="logfile" xsi:type="File" fileName="file.txt" />
		<target xsi:type="File" name="debugfile" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>
    <!-- 配置输出规则，将不同的日志级别输出到不同的 output -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="debugfile" />
    </rules>
</nlog>